{% extends '::base.html.twig' %}

{% block header %}
<li><a href="{{ path('personagem') }}" data-icon="custom">Personagens</a></li>
<li><a href="{{ path('mesa') }}" data-icon="custom">Mesas</a></li>
<li><a href="{{ path('usuario') }}" data-icon="custom">Amigos</a></li>
<li><a href="{{ path('negocio') }}" data-icon="custom">Negócios</a></li>
{% endblock %}

{% block content %}
<ul data-role="listview">
    {% for entity in entities %}
    <li>
        <a href="{{ path('fato_show', { 'id': entity.id }) }}">{{ entity.descricao }}</a></td>
    </li>
    {% endfor %}
</ul>
{% endblock %}